body{
    font-family: Inter, Arial, Helvetica, sans-serif 
}

.mainmenubtn {
    background-color: #B81919;
    color: white;
    border: none;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    
}

.mainmenubtn2 {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.mainMENU {
    background-color: #B81919;
    color: white;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.mainMENU-logo{
    background-color: #B81919;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.mainMENU:hover {
    background-color: #9c1818;
}
.mainMENU-logo:hover {
    background-color: #9c1818;
}

.fullmenu {
    background-color: #B81919;
}

.bardestinations {
    position: relative;
    
}
.lien {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
}
.lien2 {
    color: inherit;
    text-decoration: none;
}
.destinations {
    display: none;
    position: absolute;
    background-color: #BC3131;
    min-width: 150px;
    right: 0;
    z-index: 10;
    
}

.destinations a {
    color: white;
    padding: 15px;
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding-right: 90px;
}

.destinations a:hover {
    background-color: #9c1818;
}

.bardestinations:hover .destinations {
    display: block;
}


.mainmenuvoid {
    background-color: #B81919;
    margin-bottom: -10px;
    width: 100%;
}
footer{
    z-index: -1;
    opacity: 1;
    position: absolute;
    height: 56px;
    width: 100%;
    background: var(--yt-spec-base-background);
}

header{
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
}
body{
    background-color: #F5F5F5;
}
.textbox{
    background-color: #ffffff;
}
.color2box{
    margin-top: -50PX;
    background-color: #F4EDED;
}

.color3box{

    background-color: #F4EDED;
}

.textrights{
    float: left;
}

.wrapper {
    margin-right: 250px;
    margin-left: 250px;
    margin-top: -10px;
  position: relative;
  display: inline-block;
}
.imagebg{ 
    background-image: url("../image/top.png");
    background-size: 1337px 295px;
    width: 10090px;
    
    height: 300px;

}
.titretext{
    position: absolute;
    margin: 10px;
    margin-left: 450px;
    margin-right: 450px;
   
}
.titletextsx{
    color: white;
    font-size: 50px;
    text-decoration: underline;
}

.cards {
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

.card {
    margin: 0px;
    display:inline-flex;
}

.card-img {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    position: relative;
    width: 600px;
}

.card-txt {
    margin-top: 25px;
    padding: 10px;
    color: white;
    background-color: #BC3131;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: justify;
    text-decoration: none;
    
}

.gwencul{
    margin-right: 350px;
}
.card-txt2 {
    margin-top: 25px;
    padding: 10px;
    color: white;
    background-color: #BC3131;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: justify;
    text-decoration: none;
}

.card-img2 {
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    position: relative;
    width: 600px;
}
.sectioncard{
}
.titreVIDEO{
    margin-top: 609;
    font-size: 40px;
    margin-left: 10px;
}
.tXTvideo{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.txt{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bigfont{
    margin-left: 10px;
    font-size: 60px;
}
.jesuiscalm{
    margin-top: 30%;
}
.pagaga{
    margin-right: 250px;
    margin-left: 250px;
}

.textcul{
    margin-left: 10px;
}

.piedtext{
    color: #CDCDCD;
    border: none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.ecarddefdp{
    margin-left: -20px;
}


.apropodenous{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 22px;
    background-color: #BC3131;
}
.apropodenoustext{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.titlearticle{
    text-align: left;
    font-size: 20px;
}
.titlearticle2{
    text-align: right;
    font-size: 20px;
}

.btnshit{
    background-color: #ffffff;
    border-radius: 22px;
    font-size: 25px;
    color: black;
    border: none;
    cursor: pointer;
}

.btnshit:hover{
    background-color: #ffe1e1;
}
.contentshit{
    margin-top: 20px;
    margin-left: 50px;
    color:white

}
.contentimage{
    border-radius: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.redcolorbox{
    background-color: #BC3131;
}

.tableshit{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width:3px; 
    border-style:solid; 
    border-color:rgb(255, 255, 255);
    width:50%;
    color:white;
}

.titlewhite{
    color:white;
    text-decoration: underline;

}
.positiondroite{
    text-align: right;
}
.whitetext{
    color: white;
}

.formulaire{

    margin-left: 10px;
}