/* Bouton du menu déroulant */
.mainmenubtn {
    background-color: #B81919;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}

.mainmenubtn2 {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.mainMENU {
    background-color: #B81919;
    color: white;
    padding: 20px;
}

.mainMENU:hover {
    background-color: #9c1818;
}

.fullmenu {
    background-color: #B81919;
}

/* Menu déroulant */
.bt {
    position: relative;
}

.destinations {
    display: none;
    position: absolute;
    background-color: #BC3131;
    min-width: 150px;
    right: 0;
    z-index: 10;
}

.destinations a {
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.destinations a:hover {
    background-color: #9c1818;
}

.bardestinations:hover .destinations {
    display: block;
}

/* Espace vide à droite du menu */
.mainmenuvoid {
    background-color: #B81919;
    width: 100%;
}
