.header {
    overflow: hidden;
    background-color: #BC3131;
    padding: 20px 10px;
}


.header a {
    float: left;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Papyrus;
}

.header-left {
    float: left;
}


.header-right {
    float: right;
}





.introduction {
    background-color: rgb(231, 233, 235);
}




.image-tourisme {
    border-radius: 10px;
}




.carte {
    margin: auto;
    border-spacing: 0px;
}

.td-text {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #BC3131;
    padding-top: 10px;
    width: 250px;
    border-width: 0px;
    vertical-align: top;

}

.td-image img {
    height: 200px;
    width: 300px;
    border-bottom-right-radius: 0px;
    vertical-align: bottom;
}