.mainmenubtn {
    background-color: #B81919;
    color: white;
    border: none;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    
}

.mainmenubtn2 {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.mainMENU {
    background-color: #B81919;
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}

.mainMENU:hover {
    background-color: #9c1818;
}

.fullmenu {
    background-color: #B81919;
}

.bardestinations {
    position: relative;
    
}
.lien {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    
    
}
.destinations {
    display: none;
    position: absolute;
    background-color: #BC3131;
    min-width: 150px;
    right: 0;
    z-index: 10;
    
}

.destinations a {
    color: white;
    padding: 15px;
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding-right: 90px;
}

.destinations a:hover {
    background-color: #9c1818;
}

.bardestinations:hover .destinations {
    display: block;
}

.mainmenuvoid {
    background-color: #B81919;
    margin-bottom: -10px;
    width: 100%;
}
footer{
    z-index: -1;
    opacity: 1;
    position: absolute;
    height: 56px;
    width: 100%;
    background: var(--yt-spec-base-background);
}

header{
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
}
body{
    background-color: #F5F5F5;
}
.textbox{
    background-color: #ffffff;
}

.textrights{
    float: left;
}
.titredemerde{

}
.imagefrade{
position: absolute;


  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  to top,
  #eeeeee00 7%,
  #333333b9 99%
);
background-clip: titltitretextetextsx;
}
.wrapper {
        margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
  position: relative;
  display: inline-block;
}
.imagebg{ 
    background-image: url("images.jpg");
    background-size: 1000px 300px;
    width: 10090px;
    height: 300px;

}
.titretext{
    position: absolute;
    margin: 10px;
    margin-left: 450px;
    margin-right: 450px;
   
}
.titletextsx{
    color: white;
}

.cards {
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

.card {
    margin: 0px;
    display:inline-flex;
}

.card-img {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    position: relative;
    width: 600px;
}

.card-txt {
    margin-top: 25px;
    padding: 10px;
    color: white;
    background-color: #BC3131;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: justify;
    text-decoration: none;
}
.card-txt2 {
    margin-top: 25px;
    padding: 10px;
    color: white;
    background-color: #BC3131;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: justify;
    text-decoration: none;
}

.card-img2 {
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    position: relative;
    width: 600px;
}